<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sofa.dao.UserMapper">
    <!-- 查询 id 为 #{id} 的用户记录 -->
    <select id="getUserById" parameterType="Integer" resultType="com.sofa.model.User">
        SELECT * FROM user
        <where>
        	id=#{id}
        </where>
    </select>
    <!-- 添加一条用户记录 -->
    <!-- useGeneratedKeys="true" 即把自增的主键赋给keyProperty="id" -->
    <insert id="insertUser" useGeneratedKeys="true" keyProperty="id">
    	INSERT INTO user(
    		username,
    		password,
    		email,
    		photo,
    		sign,
    		role,
    		vip,
    		status,
    		create_date,
    		update_date
    	)VALUES(
    		#{username},
    		#{password},
    		#{email},
    		#{photo},
    		#{sign},
    		#{role},
    		#{vip},
    		#{status},
    		#{create_date},
    		#{update_date}
    	)
    </insert>
</mapper>